.App {
  text-align: center;
}

.scores1 {
  background-color: rgb(12, 233, 60);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scores2 {
  background-color: rgb(231, 19, 19);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}