.App {
  text-align: center;
}

.homeLogos {
  background-color: rgb(9, 33, 99);
  width: 150px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeLogos,img {
  padding: 5px;
}

.awayLogos {
  background-color: rgb(37, 231, 19);
  width: 150px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
}

.scores3 {
  background-color: rgb(189, 108, 15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scores4 {
  background-color: rgb(155, 36, 36);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scores5 {
  background-color: rgb(76, 19, 231);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scores6 {
  background-color: rgb(212, 26, 141);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}